:root{
    --primary-color: #A0F944;
    --background: #191919;
    --primary-font: 'Poppins', sans-serif;
    --contrast:#FFF;

    /* Leaf map style */
    --map-path-color:black;
}

body{
    font-family: var(--primary-font);
    background-color: var(--background);
}

#map{
    height: calc(100vh - 100px);
    border-radius: 10px;
}

.leaflet-grab{
    cursor: crosshair!important;
}

.buttons-container{
    display: flex;
    flex-direction: row;;
    align-items: center;
    gap: 20px;
    padding: 20px 0 10px 0;
}

.primary-button{
    /* Layout */
    padding: 10px 50px;

    /* Style */
    cursor:pointer;
    border-radius: 5px;
    border: 4px solid var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);

    /* Text */
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.primary-button:hover{
    background: var(--background);
    color: var(--contrast);
}

.secondary-button{
    /* Layout */
    padding: 10px 50px;

    /* Style */
    cursor:pointer;
    border-radius: 5px;
    border: 4px solid var(--contrast);
    background: var(--background);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);

    /* Text */
    text-decoration: none;
    color: var(--contrast);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.secondary-button:hover{
    background: var(--contrast);
    color: #000;
}

.info-msg{
    display: none;
    margin: 0;
    text-align: center;
    color:var(--contrast);
    font-size:14px;
}

@media screen and (max-width: 768px){
    #map{
        height: calc(80vh - 100px);
    }

    .buttons-container{
        flex-direction: column;
    }

    .buttons-container .info-msg{
        order: -1;
    }
}